.userMenu {
  display: flex;
  align-items: center;
}

.btnLogout {
  background-color: rgba(0, 100, 0, 0.4);
  padding: 5px;
  margin: 0 0 0 20px;
  border: 1px solid darkgreen;
  border-radius: 5px;
  cursor: pointer;
}

.name {
  font-weight: 700;
  color: darkgreen;
}
