.header {
  padding: 10px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1024px;
  // background-color: rgba(85, 107, 47, 0.3);
}

.section {
  position: fixed;
  width: 100%;
  background-color: rgba(85, 107, 47, 0.3);
}
